@font-face { font-family: daisy; src: url('fonts/paperdaisy-demo.ttf'); }
@font-face { font-family: daisy; font-weight: bold; src: url('fonts/paperdaisy-demo.ttf');}

body {
	background-color: #FEDCD2;
}

input[type=button] {
	background-color: #BFD8D2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 5px;
	border: 2px solid #262626;
	display:inline-block;
	cursor:pointer;
	color: #262626;
	font-family:Arial;
	font-size:16px;
	padding:5px 25px;
	text-decoration:none;
}

#linkBack {
  text-align: center;
}

input[type=text] {
  margin-top: 10px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #262626;
  border-radius: 4px;
  font-size: 16px;
  background-color: #FEDCD2;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  background-color: #FEDCD2;
  width: 55%;
}

#middle{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: #BFD8D2;
  border: 2px solid #262626;
  border-radius: 5px;
}

h1{
  text-align: center;
  color: #262626;
  font-size: 85px;
  font-family: daisy, sans-serif;
}
