@font-face { font-family: daisy; src: url('fonts/paperdaisy-demo.ttf'); }
@font-face { font-family: daisy; font-weight: bold; src: url('fonts/paperdaisy-demo.ttf');}

body {
	background-color: #FEDCD2;
}

.wrapper {
	background-color: #BFD8D2;
	border: 2px solid black;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 0 30px;
	min-height: 375px;

}

.text-center {
	text-align: center;
}

input[type=text] {
  margin-top: 10px;
  width: 50%;
  border: 2px solid #262626;
  border-radius: 5px;
  font-size: 16px;
  background-color: #FEDCD2;
  /* background-position: 10px 10px;
  background-repeat: no-repeat; */
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  background-color: #FEDCD2;
  width: 55%;
}

h1 {
  text-align: center;
  color: #262626;
  font-size: 10vh;
  font-family: daisy, sans-serif;
}

#qrcode {
	margin: 20px;
}

img {
	border-radius: 5px;
}


@media only screen and (max-width: 400px) {
	/* phone */
	h1 {
		font-size: 15vw;
	}
}

@media only screen and (max-width: 800px) {
  input[type=text] {
		width: 70%;
	}
	input[type=text]:focus {
	  background-color: #FEDCD2;
	  width: 75%;
	}
}
